/* external */
.FullPage {
  position: absolute;
  z-index: 101;

  top: 1%;
  right: 0.5%;

  transform: translateX(150%);
  transition: transform 0.5s;
}

.fullscreen .FullPage {
  transform: none;
}

/* own */
.container {
  position: relative;
  flex: auto;
  height: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: inherit;
  outline: 2px solid gray;
  overflow: hidden;
}

.outer {
  position: absolute;
  height: inherit;

  display: flex;
  justify-content: stretch;

  transition: transform 0.5s;
}

.inner {
  width: 100%;
  height: 100%;

  border: none;
}
