/* external */
.FullPage {
  position: absolute;
  z-index: 101;

  top: 1%;
  right: 0.5%;

  transform: translateX(150%);
}

.fullscreen .FullPage {
  transform: none;
}

/* own */
.container {
  position: relative;
  flex: auto;
  height: 100%;
  outline: 1px solid gray;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: inherit;
  overflow: hidden;
}

.outer {
  position: absolute;
  height: inherit;

  display: flex;
  justify-content: stretch;
}

.inner {
  width: 100%;
  height: 100%;
}
