.Core {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
}

.root100 {
  width: 100%;
}

.root {
}

.fromCore iframe {
  outline: 2px solid var(--main-color);
}

.container {
  width: 100%;
}
