* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
select {
  border: none;
  background-color: var(--element-background);
}
input:focus,
select:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
