$CONTAINER_NAME: 'fpc';

$colors: (
  1: #c6fefb,
  2: #f7f7ba,
  3: #f7caba,
  4: #fea5a5,
  5: #8a86fe,
  6: #4448c1,
  7: #420f07,
);

@each $index, $color in $colors {
  $path_to_colors: $CONTAINER_NAME + '__btn--btn' + $index;
  .#{$path_to_colors} {
    background-color: $color;
  }
}

:root {
  --currentDifficulty: aquamarine;
  --mainBackground: white;
}

.#{$CONTAINER_NAME} {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mainBackground);

  user-select: none;

  &__header {
    position: absolute;
    max-width: 100%;
  }

  &__difficulty {
    position: relative;
    z-index: 5;
    display: flex;
    padding: 5px 15px;
    background-color: var(--currentDifficulty);
    border-radius: 0 0 15px 15px;
    overflow-x: scroll;

    outline: 1px solid grey;

    box-shadow: gray 1px 1px 10px 1px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__playground {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__btn {
    padding: 5px;
    margin: 1px;
    border-radius: 5px;

    color: black;
    text-wrap: nowrap;
    font-weight: 900;
    letter-spacing: 0.2em;

    &:nth-last-child(-n + 4) {
      text-shadow: rgb(255, 88, 88) 10px 10px 10px;
    }

    &:hover {
      box-shadow: rgba(46, 65, 240, 0.4) 0px 5px;
      cursor: pointer;
    }

    @media (max-width: 1024px) {
      & {
        letter-spacing: normal;
      }
    }
  }

  &__grid {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    height: 100vh;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-auto-rows: minmax(50px, 100px);
    padding: 50px 5vw 10px 5vw;

    outline: 5px solid var(--currentDifficulty);
    outline-offset: -5px;

    @media (max-width: 1024px) {
      & {
        gap: 25px;
      }
    }
  }

  &__card {
    position: relative;
    min-height: 50px;
    max-height: 100px;
    perspective: 1000px;

    &Body {
      position: relative;
      z-index: 100;
      width: 100%;
      height: 100%;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }

    &Face,
    &Back {
      position: absolute;
      width: 100%;
      height: 100%;

      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    &Face {
      background-color: var(--currentDifficulty);
      // border: 5px solid var(--currentDifficulty);
      outline: 1px solid grey;
    }
    &Back {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-size: 2.5rem;
      -webkit-text-stroke: 1.5px #ffffff; /* Толщина и цвет обводки */
      letter-spacing: 0;
      background-color: #420f07;
      transform: rotateY(180deg);
    }
  }

  &__records-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBackground);

    border-radius: 100%;
    outline: 1px solid gray;
    background-color: black;
    margin-left: 0.35vw;

    min-height: 100%;
    min-width: 35px;

    svg {
      color: rgb(214, 194, 78);
      display: block;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__records {
    position: absolute;
    z-index: 51;
    left: 50%;
    bottom: 0;
    box-shadow: gray 1px 1px 10px 1px;
    background-color: var(--currentDifficulty);

    transform: scale(100%, 0%) translate(-50%, 100%);
    transition: transform 0.5s ease-out;

    &--active {
      transform: scale(100%, 100%) translate(-50%, 100%);
    }
  }

  &__list {
  }

  &__rec {
    margin: 5px;
    padding: 5px;
    background-color: var(--mainBackground);
    border-radius: 10px;
  }
}
