@charset "UTF-8";
.fpc__btn--btn1 {
  background-color: #c6fefb;
}

.fpc__btn--btn2 {
  background-color: #f7f7ba;
}

.fpc__btn--btn3 {
  background-color: #f7caba;
}

.fpc__btn--btn4 {
  background-color: #fea5a5;
}

.fpc__btn--btn5 {
  background-color: #8a86fe;
}

.fpc__btn--btn6 {
  background-color: #4448c1;
}

.fpc__btn--btn7 {
  background-color: #420f07;
}

:root {
  --currentDifficulty: aquamarine;
  --mainBackground: white;
}

.fpc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mainBackground);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.fpc__header {
  position: absolute;
  max-width: 100%;
}
.fpc__difficulty {
  position: relative;
  z-index: 5;
  display: flex;
  padding: 5px 15px;
  background-color: var(--currentDifficulty);
  border-radius: 0 0 15px 15px;
  overflow-x: scroll;
  outline: 1px solid grey;
  box-shadow: gray 1px 1px 10px 1px;
}
.fpc__difficulty::-webkit-scrollbar {
  display: none;
}
.fpc__playground {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fpc__btn {
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  color: black;
  text-wrap: nowrap;
  font-weight: 900;
  letter-spacing: 0.2em;
}
.fpc__btn:nth-last-child(-n+4) {
  text-shadow: rgb(255, 88, 88) 10px 10px 10px;
}
.fpc__btn:hover {
  box-shadow: rgba(46, 65, 240, 0.4) 0px 5px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .fpc__btn {
    letter-spacing: normal;
  }
}
.fpc__grid {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-auto-rows: minmax(50px, 100px);
  padding: 50px 5vw 10px 5vw;
  outline: 5px solid var(--currentDifficulty);
  outline-offset: -5px;
}
@media (max-width: 1024px) {
  .fpc__grid {
    gap: 25px;
  }
}
.fpc__card {
  position: relative;
  min-height: 50px;
  max-height: 100px;
  perspective: 1000px;
}
.fpc__cardBody {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.fpc__cardFace, .fpc__cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.fpc__cardFace {
  background-color: var(--currentDifficulty);
  outline: 1px solid grey;
}
.fpc__cardBack {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 2.5rem;
  -webkit-text-stroke: 1.5px #ffffff; /* Толщина и цвет обводки */
  letter-spacing: 0;
  background-color: #420f07;
  transform: rotateY(180deg);
}
.fpc__records-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainBackground);
  border-radius: 100%;
  outline: 1px solid gray;
  background-color: black;
  margin-left: 0.35vw;
  min-height: 100%;
  min-width: 35px;
}
.fpc__records-btn svg {
  color: rgb(214, 194, 78);
  display: block;
  min-width: 100%;
  min-height: 100%;
}
.fpc__records {
  position: absolute;
  z-index: 51;
  left: 50%;
  bottom: 0;
  box-shadow: gray 1px 1px 10px 1px;
  background-color: var(--currentDifficulty);
  transform: scale(100%, 0%) translate(-50%, 100%);
  transition: scale 0.5s ease-out;
}
.fpc__records--active {
  transform: scale(100%, 100%) translate(-50%, 100%);
}
.fpc__rec {
  margin: 5px;
  padding: 5px;
  background-color: var(--mainBackground);
  border-radius: 10px;
}/*# sourceMappingURL=styles.css.map */