.about {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--about_bottom);

  &__title {
    font-size: var(--title__font);
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
  }

  &__text {
    display: block;
    width: var(--text__width);
    font-size: var(--text__minfont);
    line-height: 2em;
    margin-bottom: var(--text__bottom);
  }

  &__content {
    position: relative;
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: 1439px) {
      flex-wrap: wrap;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;

    border-radius: var(--border-radius);
  }

  &__itemtext {
    width: var(--text__width--content);
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .about {
    &__img {
      width: 100%;
      height: auto;
    }

    &__btn {
      width: 162px;
      height: 39px;
      text-align: center;
      color: var(--UI-color);
      font-weight: 700;
      font-size: 12px;
      border-radius: var(--border-radius-btn);
      border: 2px solid var(--UI-color);
      background-color: var(--element-background);

      margin-top: 12px;
      margin-bottom: 32px;
    }

    &__more {
      &--text {
        margin: 0;
        font-size: var(--text__minfont);
        line-height: 2em;
      }
    }

    &__svg1,
    &__svg2 {
      width: 64px;
      height: 49px;
      margin-bottom: 12px;
    }

    &__svg1 {
      background-image: url(../../images/about/cube--mini.svg);
    }
    &__svg2 {
      margin-top: 32px;
      background-image: url(../../images/about/gear--mini.svg);
    }

    &__h3 {
      margin: 0;
      margin-bottom: 4px;

      font-size: 18px;
      font-weight: 500;
    }

    &__text {
      &--content {
        margin: 0;
        font-size: var(--text__minfont);
        line-height: 2em;
      }
    }
  }
}

@media (min-width: 768px) {
  .about {
    &__content {
      row-gap: 32px;
    }

    &__left {
      flex: 0 1 100%;
      position: relative;

      max-width: 868px;
      min-width: 668px;
      height: var(--img__height);

      @media (max-width: 1439px) {
        max-width: 924px;
      }
    }

    &__right {
      position: relative;
      flex: 0 1 100%;
      max-width: 870px;
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media (max-width: 1439px) {
        max-width: 924px;
      }
    }

    &__more {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 196px;

      display: flex;
      align-items: center;

      background-color: rgba(0, 0, 0, 0.5);
      border-radius: var(--border-radius);

      &--text {
        flex: 0 1 auto;
        display: block;
        max-width: 433px;
        margin-right: auto;
        margin-left: var(--resize-margin);
        font-weight: bold;
        color: white;
      }
    }

    &__btn {
      flex: 0 0 auto;
      align-self: center;
      margin-left: 47px;
      margin-right: var(--resize-margin);
      width: 175px;
      height: 60px;
      color: white;
      font-size: 16px;
      font-weight: 700;
      border-radius: var(--border-radius-btn);
      border: 3px solid var(--UI-color);
    }

    &__rightitem {
      position: relative;
      display: flex;
      flex: auto;
      align-items: center;
      max-width: 924px;
      padding: var(--padding-height) 0;

      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      background-color: var(--element-background);
    }

    &__svg1,
    &__svg2 {
      flex: 1;
      max-width: 190px;
      min-width: 114px;
      height: 100%;

      margin-left: var(--margin-left);
      margin-right: var(--margin-right);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      @media (min-width: 1750px) {
        margin-left: 60px;
        margin-right: 50px;
      }
    }

    &__svg1 {
      background-image: url(../../images/about/cuber.svg);
    }

    &__svg2 {
      background-image: url(../../images/about/gearer.svg);
    }

    &__itemtext {
      margin-right: 48px;
    }

    &__h3 {
      margin: 0;
      margin-bottom: 8px;
      text-wrap: nowrap;

      font-size: 24px;
      font-weight: 700;
    }

    &__text {
      &--content {
        margin: 0;
        font-size: var(--text__minfont);
        line-height: 2em;
      }
    }
  }
}
