@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic&display=swap);
:root {
  --main-color: tan;
  --text-color: black;
  --element-background: white;
  --UI-color: #ff9900;
  --UI-color-active: #e1670e;
  --btn-color-focus: #ffb84d;
  --border-color: #cacaca;
  --global-indentation: 15px;
  --border-radius: 16px;
  --border-radius-btn: 8px;
  --title__font: 24px;
  --text__minfont: 14px;
}
@media (min-width: 320px) {
  :root {
    --global-indentation: calc(7.8125vw - 10px);
  }
}
@media (min-width: 768px) {
  :root {
    --global-indentation: 50px;
  }
}
@media (min-width: 1024px) {
  :root {
    --global-indentation: calc(2.7901785714vw + 21.4285714286px);
  }
}
@media (min-width: 1920px) {
  :root {
    --global-indentation: calc(50vw - 885px);
  }
}
@media (min-width: 2560px) {
  :root {
    --global-indentation: 395px;
  }
}
@media (min-width: 320px) {
  :root {
    --border-radius: calc(1.7857142857vw + 10.2857142857px);
  }
}
@media (min-width: 768px) {
  :root {
    --border-radius: calc(3.125vw + 0px);
  }
}
@media (min-width: 1024px) {
  :root {
    --border-radius: 32px;
  }
}
@media (min-width: 320px) {
  :root {
    --border-radius-btn: calc(1.7857142857vw + 2.2857142857px);
  }
}
@media (min-width: 768px) {
  :root {
    --border-radius-btn: 16px;
  }
}
@media (min-width: 320px) {
  :root {
    --title__font: calc(5.3571428571vw + 6.8571428571px);
  }
}
@media (min-width: 768px) {
  :root {
    --title__font: 48px;
  }
}
@media (min-width: 320px) {
  :root {
    --text__minfont: calc(0.4464285714vw + 12.5714285714px);
  }
}
@media (min-width: 768px) {
  :root {
    --text__minfont: 16px;
  }
}

.header {
  --header__margin-bottom: 30px;
  --header__height: 69px;
  --burger__padding: 78px auto auto 15px;
  --logo__width: 110px;
  --logo__height: 35px;
  --close__left: 15px;
  --close__top: 22px;
  --nav__width: 320px;
  --nav__margin-left: 100px;
  --item__margin-bottom: 32px;
  --item__font-size: 16px;
  --bar__width: 320px;
  --bar__height: 69px;
  --input__width: 222px;
  --input__margin: auto 1px 21px 15px;
  --return__right: 15px;
}
@media (min-width: 320px) {
  .header {
    --header__margin-bottom: calc(2.2321428571vw + 22.8571428571px);
  }
}
@media (min-width: 768px) {
  .header {
    --header__margin-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .header {
    --header__margin-bottom: calc(1.1160714286vw + 28.5714285714px);
  }
}
@media (min-width: 1920px) {
  .header {
    --header__margin-bottom: 50px;
  }
}
@media (min-width: 320px) {
  .header {
    --header__height: 69px;
  }
}
@media (min-width: 768px) {
  .header {
    --header__height: calc(12.109375vw - 24px);
  }
}
@media (min-width: 1024px) {
  .header {
    --header__height: 100px;
  }
}
@media (min-width: 1920px) {
  .header {
    --header__height: 100px;
  }
}
@media (min-width: 320px) {
  .header {
    --burger__padding: calc(16.5178571429vw + 25.1428571429px) auto auto calc(7.8125vw - 10px);
  }
}
@media (min-width: 768px) {
  .header {
    --burger__padding: calc(7.03125vw + 98px) auto auto 50px;
  }
}
@media (min-width: 1024px) {
  .header {
    --burger__padding: 170px auto auto 50px;
  }
}
@media (min-width: 320px) {
  .header {
    --logo__width: calc(8.9285714286vw + 81.4285714286px);
  }
}
@media (min-width: 768px) {
  .header {
    --logo__width: 150px;
  }
}
@media (min-width: 1024px) {
  .header {
    --logo__width: calc(8.3705357143vw + 64.2857142857px);
  }
}
@media (min-width: 1920px) {
  .header {
    --logo__width: 225px;
  }
}
@media (min-width: 320px) {
  .header {
    --logo__height: calc(2.9017857143vw + 25.7142857143px);
  }
}
@media (min-width: 768px) {
  .header {
    --logo__height: 48px;
  }
}
@media (min-width: 1024px) {
  .header {
    --logo__height: calc(2.6785714286vw + 20.5714285714px);
  }
}
@media (min-width: 1920px) {
  .header {
    --logo__height: 72px;
  }
}
@media (min-width: 320px) {
  .header {
    --close__left: calc(7.3660714286vw - 8.5714285714px);
  }
}
@media (min-width: 768px) {
  .header {
    --close__left: 48px;
  }
}
@media (min-width: 320px) {
  .header {
    --close__top: 22px;
  }
}
@media (min-width: 768px) {
  .header {
    --close__top: calc(6.25vw - 26px);
  }
}
@media (min-width: 1024px) {
  .header {
    --close__top: 38px;
  }
}
@media (min-width: 320px) {
  .header {
    --nav__width: calc(22.3214285714vw + 248.5714285714px);
  }
}
@media (min-width: 768px) {
  .header {
    --nav__width: 420px;
  }
}
@media (min-width: 1024px) {
  .header {
    --nav__width: 420px;
  }
}
@media (min-width: 1025px) {
  .header {
    --nav__margin-left: calc(50.6145251397vw - 418.7988826816px);
  }
}
@media (min-width: 1920px) {
  .header {
    --nav__margin-left: 553px;
  }
}
@media (min-width: 320px) {
  .header {
    --item__margin-bottom: calc(6.25vw + 12px);
  }
}
@media (min-width: 768px) {
  .header {
    --item__margin-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .header {
    --item__margin-bottom: 60px;
  }
}
@media (min-width: 320px) {
  .header {
    --item__font-size: calc(1.7857142857vw + 10.2857142857px);
  }
}
@media (min-width: 768px) {
  .header {
    --item__font-size: 24px;
  }
}
@media (min-width: 320px) {
  .header {
    --bar__width: calc(48.8839285714vw + 163.5714285714px);
  }
}
@media (min-width: 768px) {
  .header {
    --bar__width: 539px;
  }
}
@media (min-width: 320px) {
  .header {
    --bar__height: calc(-2.0089285714vw + 75.4285714286px);
  }
}
@media (min-width: 768px) {
  .header {
    --bar__height: 60px;
  }
}
@media (min-width: 320px) {
  .header {
    --input__width: calc(42.4107142857vw + 86.2857142857px);
  }
}
@media (min-width: 768px) {
  .header {
    --input__width: 412px;
  }
}
@media (min-width: 320px) {
  .header {
    --input__margin: auto calc(2.9017857143vw - 8.2857142857px) calc(-1.1160714286vw + 24.5714285714px) calc(3.7946428571vw + 2.8571428571px);
  }
}
@media (min-width: 768px) {
  .header {
    --input__margin: auto 14px 16px 32px;
  }
}
@media (min-width: 320px) {
  .header {
    --return__right: calc(-0.4464285714vw + 16.4285714286px);
  }
}
@media (min-width: 768px) {
  .header {
    --return__right: calc(1.953125vw - 2px);
  }
}
@media (min-width: 1024px) {
  .header {
    --return__right: 18px;
  }
}

.order {
  --order__bottom: 60px;
  --content__padding: 60px 21px;
  --h1__size: 20px;
  --title__bottom: 6px;
  --title__width: 247px;
  --title__height: 49px;
  --text__width: 247px;
  --text__font: 12px;
  --btn__padding: 13px 28px;
  --btn__font: 12px;
  --swiper__width: 290px;
  --swiper__height: 308px;
  --bullet-size: 10px;
}
@media (min-width: 320px) {
  .order {
    --order__bottom: calc(-4.4642857143vw + 74.2857142857px);
  }
}
@media (min-width: 768px) {
  .order {
    --order__bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .order {
    --order__bottom: calc(1.1160714286vw + 28.5714285714px);
  }
}
@media (min-width: 1920px) {
  .order {
    --order__bottom: 50px;
  }
}
@media (min-width: 320px) {
  .order {
    --content__padding: calc(22.3214285714vw - 11.4285714286px) calc(4.2410714286vw + 7.4285714286px);
  }
}
@media (min-width: 768px) {
  .order {
    --content__padding: 160px calc(14.453125vw - 71px);
  }
}
@media (min-width: 1024px) {
  .order {
    --content__padding: calc(-6.6964285714vw + 228.5714285714px) calc(0.3348214286vw + 73.5714285714px);
  }
}
@media (min-width: 1920px) {
  .order {
    --content__padding: 100px 80px;
  }
}
@media (min-width: 320px) {
  .order {
    --h1__size: calc(6.6964285714vw - 1.4285714286px);
  }
}
@media (min-width: 768px) {
  .order {
    --h1__size: calc(3.90625vw + 20px);
  }
}
@media (min-width: 1024px) {
  .order {
    --h1__size: calc(1.1160714286vw + 48.5714285714px);
  }
}
@media (min-width: 1920px) {
  .order {
    --h1__size: 70px;
  }
}
@media (min-width: 320px) {
  .order {
    --title__bottom: calc(2.2321428571vw - 1.1428571429px);
  }
}
@media (min-width: 768px) {
  .order {
    --title__bottom: 16px;
  }
}
@media (min-width: 1024px) {
  .order {
    --title__bottom: calc(0.8928571429vw + 6.8571428571px);
  }
}
@media (min-width: 1920px) {
  .order {
    --title__bottom: 24px;
  }
}
@media (min-width: 320px) {
  .order {
    --title__width: calc(76.1160714286vw + 3.4285714286px);
  }
}
@media (min-width: 768px) {
  .order {
    --title__width: calc(71.09375vw + 42px);
  }
}
@media (min-width: 1024px) {
  .order {
    --title__width: calc(7.4776785714vw + 693.4285714286px);
  }
}
@media (min-width: 1920px) {
  .order {
    --title__width: 837px;
  }
}
@media (min-width: 320px) {
  .order {
    --title__height: calc(16.2946428571vw - 3.1428571429px);
  }
}
@media (min-width: 768px) {
  .order {
    --title__height: calc(9.375vw + 50px);
  }
}
@media (min-width: 1024px) {
  .order {
    --title__height: calc(2.6785714286vw + 118.5714285714px);
  }
}
@media (min-width: 1920px) {
  .order {
    --title__height: 170px;
  }
}
@media (min-width: 320px) {
  .order {
    --text__width: calc(76.1160714286vw + 3.4285714286px);
  }
}
@media (min-width: 768px) {
  .order {
    --text__width: calc(28.125vw + 372px);
  }
}
@media (min-width: 1024px) {
  .order {
    --text__width: calc(14.5089285714vw + 511.4285714286px);
  }
}
@media (min-width: 1920px) {
  .order {
    --text__width: 790px;
  }
}
@media (min-width: 320px) {
  .order {
    --text__font: calc(1.3392857143vw + 7.7142857143px);
  }
}
@media (min-width: 768px) {
  .order {
    --text__font: calc(0.78125vw + 12px);
  }
}
@media (min-width: 1024px) {
  .order {
    --text__font: calc(0.4464285714vw + 15.4285714286px);
  }
}
@media (min-width: 1920px) {
  .order {
    --text__font: 24px;
  }
}
@media (min-width: 320px) {
  .order {
    --btn__padding: calc(2.6785714286vw + 4.4285714286px) calc(2.4553571429vw + 20.1428571429px);
  }
}
@media (min-width: 768px) {
  .order {
    --btn__padding: 25px 39px;
  }
}
@media (min-width: 320px) {
  .order {
    --btn__font: calc(2.4553571429vw + 4.1428571429px);
  }
}
@media (min-width: 768px) {
  .order {
    --btn__font: 23px;
  }
}
@media (min-width: 320px) {
  .order {
    --swiper__width: calc(84.375vw + 20px);
  }
}
@media (min-width: 768px) {
  .order {
    --swiper__width: calc(100vw - 100px);
  }
}
@media (min-width: 1024px) {
  .order {
    --swiper__width: calc(94.4196428571vw - 42.8571428571px);
  }
}
@media (min-width: 1920px) {
  .order {
    --swiper__width: 1770px;
  }
}
@media (min-width: 320px) {
  .order {
    --swiper__height: calc(79.0178571429vw + 55.1428571429px);
  }
}
@media (min-width: 768px) {
  .order {
    --swiper__height: 662px;
  }
}
@media (min-width: 1024px) {
  .order {
    --swiper__height: calc(-4.6875vw + 710px);
  }
}
@media (min-width: 1920px) {
  .order {
    --swiper__height: 620px;
  }
}
@media (min-width: 320px) {
  .order {
    --bullet-size: calc(1.1160714286vw + 6.4285714286px);
  }
}
@media (min-width: 768px) {
  .order {
    --bullet-size: 15px;
  }
}

.about {
  --about_bottom: 60px;
  --text__width: 290px;
  --text__bottom: 13px;
  --text__width--content: 290px;
  --img__height: 200px;
  --svg__width: 72px;
  --svg1__height: 79px;
  --svg2__size: 81px;
  --svg__translate: 5.5px;
}
@media (min-width: 320px) {
  .about {
    --about_bottom: calc(4.4642857143vw + 45.7142857143px);
  }
}
@media (min-width: 768px) {
  .about {
    --about_bottom: calc(1.171875vw + 71px);
  }
}
@media (min-width: 1024px) {
  .about {
    --about_bottom: calc(1.8973214286vw + 63.5714285714px);
  }
}
@media (min-width: 1920px) {
  .about {
    --about_bottom: 100px;
  }
}
@media (min-width: 320px) {
  .about {
    --text__width: calc(84.375vw + 20px);
  }
}
@media (min-width: 768px) {
  .about {
    --text__width: calc(100vw - 100px);
  }
}
@media (min-width: 1024px) {
  .about {
    --text__width: calc(34.7098214286vw + 568.5714285714px);
  }
}
@media (min-width: 1920px) {
  .about {
    --text__width: 1235px;
  }
}
@media (min-width: 320px) {
  .about {
    --text__bottom: calc(9.375vw - 17px);
  }
}
@media (min-width: 768px) {
  .about {
    --text__bottom: 55px;
  }
}
@media (min-width: 1024px) {
  .about {
    --text__bottom: calc(-1.0044642857vw + 65.2857142857px);
  }
}
@media (min-width: 1920px) {
  .about {
    --text__bottom: 46px;
  }
}
@media (min-width: 320px) {
  .about {
    --text__width--content: calc(35.7142857143vw + 175.7142857143px);
  }
}
@media (min-width: 768px) {
  .about {
    --text__width--content: 450px;
  }
}
@media (min-width: 320px) {
  .about {
    --img__height: calc(100.4464285714vw - 121.4285714286px);
  }
}
@media (min-width: 768px) {
  .about {
    --img__height: calc(-3.90625vw + 680px);
  }
}
@media (min-width: 1024px) {
  .about {
    --img__height: calc(-2.0089285714vw + 660.5714285714px);
  }
}
@media (min-width: 1920px) {
  .about {
    --img__height: 622px;
  }
}
@media (min-width: 320px) {
  .about .about {
    --img__height: 200px;
  }
}
@media (min-width: 768px) {
  .about .about {
    --img__height: 650px;
  }
}
@media (min-width: 1024px) {
  .about .about {
    --img__height: 640px;
  }
}
@media (min-width: 1920px) {
  .about .about {
    --img__height: 622px;
  }
}
@media (min-width: 768px) {
  .about {
    --svg__width: calc(7.1428571429vw + 17.1428571429px);
  }
}
@media (min-width: 1440px) {
  .about {
    --svg__width: 120px;
  }
}
@media (min-width: 768px) {
  .about {
    --svg1__height: calc(7.8869047619vw + 18.4285714286px);
  }
}
@media (min-width: 1440px) {
  .about {
    --svg1__height: 132px;
  }
}
@media (min-width: 768px) {
  .about {
    --svg2__size: calc(8.0357142857vw + 19.2857142857px);
  }
}
@media (min-width: 1440px) {
  .about {
    --svg2__size: 135px;
  }
}
@media (min-width: 768px) {
  .about {
    --svg__translate: calc(0.2232142857vw + 3.7857142857px);
  }
}
@media (min-width: 1440px) {
  .about {
    --svg__translate: 7px;
  }
}
.about__rightitem {
  --margin-left: calc(40px + (100% - 668px) * 0.14453125);
  --margin-right: calc(16px + (100% - 668px) * 0.1328125);
  --padding-height: calc(35px + (100% - 668px) * 0.1171875);
}
.about__more {
  --resize-margin: calc(40px + (100% - 668px) * 0.0390625);
}

.details {
  --items__margin: 44px;
  --items__font: 14px;
  --title__bottom: 20px;
  --items__bottom: 16px;
  --left__width: 437px;
  --right__width: 437px;
  --content__height: 689px;
  --title3__margin: 16px;
  --font-size: 14px;
  --btn__padding1: 12px 44px;
  --btn__padding2: 12px 32px;
  --btn__gap: 10px;
  --p__margin: 25px;
  --details__bottom: 60px;
}
@media (min-width: 320px) {
  .details {
    --items__margin: calc(24.7767857143vw - 35.2857142857px);
  }
}
@media (min-width: 768px) {
  .details {
    --items__margin: calc(-27.34375vw + 365px);
  }
}
@media (min-width: 1024px) {
  .details {
    --items__margin: 85px;
  }
}
@media (min-width: 320px) {
  .details {
    --items__font: calc(0.8928571429vw + 11.1428571429px);
  }
}
@media (min-width: 768px) {
  .details {
    --items__font: 18px;
  }
}
@media (min-width: 320px) {
  .details {
    --title__bottom: calc(6.6964285714vw - 1.4285714286px);
  }
}
@media (min-width: 768px) {
  .details {
    --title__bottom: 50px;
  }
}
@media (min-width: 320px) {
  .details {
    --items__bottom: calc(7.5892857143vw - 8.2857142857px);
  }
}
@media (min-width: 768px) {
  .details {
    --items__bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .details {
    --left__width: calc(36.9419642857vw + 58.7142857143px);
  }
}
@media (min-width: 1920px) {
  .details {
    --left__width: 768px;
  }
}
@media (min-width: 1024px) {
  .details {
    --right__width: calc(48.3258928571vw - 57.8571428571px);
  }
}
@media (min-width: 1920px) {
  .details {
    --right__width: 870px;
  }
}
@media (min-width: 1024px) {
  .details {
    --content__height: calc(-25.5580357143vw + 950.7142857143px);
  }
}
@media (min-width: 1920px) {
  .details {
    --content__height: 460px;
  }
}
@media (min-width: 320px) {
  .details {
    --title3__margin: calc(4.9107142857vw + 0.2857142857px);
  }
}
@media (min-width: 768px) {
  .details {
    --title3__margin: 38px;
  }
}
@media (min-width: 320px) {
  .details {
    --font-size: calc(0.4464285714vw + 12.5714285714px);
  }
}
@media (min-width: 768px) {
  .details {
    --font-size: 16px;
  }
}
@media (min-width: 320px) {
  .details {
    --btn__padding1: calc(1.7857142857vw + 6.2857142857px) calc(-1.3392857143vw + 48.2857142857px);
  }
}
@media (min-width: 768px) {
  .details {
    --btn__padding1: 20px 38px;
  }
}
@media (min-width: 320px) {
  .details {
    --btn__padding2: calc(1.7857142857vw + 6.2857142857px) calc(1.3392857143vw + 27.7142857143px);
  }
}
@media (min-width: 768px) {
  .details {
    --btn__padding2: 20px 38px;
  }
}
@media (min-width: 320px) {
  .details {
    --btn__gap: calc(4.9107142857vw - 5.7142857143px);
  }
}
@media (min-width: 768px) {
  .details {
    --btn__gap: 32px;
  }
}
@media (min-width: 1024px) {
  .details {
    --p__margin: calc(-0.78125vw + 33px);
  }
}
@media (min-width: 1920px) {
  .details {
    --p__margin: 18px;
  }
}
@media (min-width: 320px) {
  .details {
    --details__bottom: calc(-2.4553571429vw + 67.8571428571px);
  }
}
@media (min-width: 768px) {
  .details {
    --details__bottom: calc(12.109375vw - 44px);
  }
}
@media (min-width: 1024px) {
  .details {
    --details__bottom: calc(2.2321428571vw + 57.1428571429px);
  }
}
@media (min-width: 1920px) {
  .details {
    --details__bottom: 100px;
  }
}

.questions {
  --mintitle__font: 14px;
  --title__margin: 16px;
  --h3__padding: 30px 0;
  --mintitle__margin: 20px;
  --questions__bottom: 60px;
  --svg__size: 30px;
}
@media (min-width: 320px) {
  .questions {
    --mintitle__font: calc(1.3392857143vw + 9.7142857143px);
  }
}
@media (min-width: 768px) {
  .questions {
    --mintitle__font: 20px;
  }
}
@media (min-width: 1024px) {
  .questions {
    --mintitle__font: calc(0.4464285714vw + 15.4285714286px);
  }
}
@media (min-width: 1920px) {
  .questions {
    --mintitle__font: 24px;
  }
}
@media (min-width: 320px) {
  .questions {
    --title__margin: calc(3.5714285714vw + 4.5714285714px);
  }
}
@media (min-width: 768px) {
  .questions {
    --title__margin: 32px;
  }
}
@media (min-width: 320px) {
  .questions {
    --h3__padding: calc(2.2321428571vw + 22.8571428571px) 0;
  }
}
@media (min-width: 768px) {
  .questions {
    --h3__padding: 40px 0;
  }
}
@media (min-width: 320px) {
  .questions {
    --mintitle__margin: calc(6.6964285714vw - 1.4285714286px);
  }
}
@media (min-width: 768px) {
  .questions {
    --mintitle__margin: 50px;
  }
}
@media (min-width: 320px) {
  .questions {
    --questions__bottom: calc(11.1607142857vw + 24.2857142857px);
  }
}
@media (min-width: 768px) {
  .questions {
    --questions__bottom: calc(-11.71875vw + 200px);
  }
}
@media (min-width: 1024px) {
  .questions {
    --questions__bottom: calc(2.2321428571vw + 57.1428571429px);
  }
}
@media (min-width: 1920px) {
  .questions {
    --questions__bottom: 100px;
  }
}
@media (min-width: 320px) {
  .questions {
    --svg__size: calc(4.4642857143vw + 15.7142857143px);
  }
}
@media (min-width: 768px) {
  .questions {
    --svg__size: 50px;
  }
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: var(--main-color);
}

h2 {
  font-size: 48px;
}

p {
  line-height: 2rem;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1920px;
  height: var(--header__height);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--global-indentation);
  margin-bottom: var(--header__margin-bottom);
  background-color: var(--element-background);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.15);
}
.header__logo {
  display: flex;
  align-items: center;
  width: var(--logo__width);
  height: var(--logo__height);
}
.header__logo > img {
  max-width: 100%;
}
.header__burger {
  display: none;
  width: 30px;
  height: 23px;
}
.header__burger:focus {
  outline: 2px solid var(--UI-color);
  outline-offset: 5px;
}
.header__burger:active {
  color: var(--UI-color-active);
}
.header__close {
  display: none;
}
.header__nav {
  margin-left: var(--nav__margin-left);
  margin-right: auto;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  position: relative;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  margin-right: 4.427vw;
}
.header__item > a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--UI-color);
  transition: width 0.3s cubic-bezier(0, 1.25, 1, 1);
}
.header__item > a:hover::after {
  width: 100%;
}
.header__item > a:focus {
  outline: 2px solid var(--UI-color);
  outline-offset: 5px;
}
.header__item > a:active {
  color: var(--UI-color-active);
  margin-bottom: -2px;
  border-bottom: 2px solid var(--UI-color-active);
}
.header__search {
  width: 24px;
  height: 24px;
}
.header__search:focus {
  outline: 2px solid var(--UI-color);
  outline-offset: 4px;
}
.header__search:hover {
  color: var(--UI-color);
}
.header__bar {
  visibility: hidden;
  opacity: 0;
  right: 0;
  position: absolute;
  z-index: 6;
  display: flex;
  background-color: var(--element-background);
  width: var(--bar__width);
  height: var(--bar__height);
  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.25);
  transition: opacity 0.25s ease-in-out;
  border-radius: 24px;
}
.header__bar--active {
  opacity: 100%;
  visibility: visible;
}
@media (max-width: 320px) {
  .header__bar {
    border-radius: 0 0 24px 24px;
  }
}
.header__form {
  display: flex;
  align-items: center;
}
.header__input {
  margin: var(--input__margin);
  border-bottom: 1px solid #cacaca;
  width: var(--input__width);
  height: auto;
}
.header__btn, .header__return {
  width: 24px;
  height: 24px;
}
.header__btn {
  margin-right: 20px;
}
.header__btn:hover, .header__btn:active {
  color: var(--UI-color);
}
.header__btn:focus {
  outline: 2px solid var(--UI-color);
  outline-offset: 4px;
}
.header .active {
  color: var(--UI-color);
}
.header__return {
  color: #cacaca;
  margin-right: --return__right;
}
.header__return:hover {
  color: var(--UI-color);
}
.header__return:focus {
  outline: 2px solid var(--UI-color);
  outline-offset: 4px;
}
.header__return:active {
  color: black;
}

@media (max-width: 1024px) {
  .header {
    justify-content: space-between;
  }
  .header__burger {
    display: block;
    order: -1;
  }
  .header__close {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    margin-left: var(--close__left);
    margin-top: var(--close__top);
  }
  .header__nav {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
    margin: 0;
    transform: translateX(-100%);
    width: var(--nav__width);
    min-height: 100vh;
    z-index: 105;
    background-color: var(--element-background);
    transition: transform 0.3s ease-out;
  }
  .header__nav--active {
    visibility: visible;
    transform: translateX(0%);
  }
  .header__list {
    margin: var(--burger__padding);
    position: relative;
    flex-direction: column;
    align-items: normal;
  }
  .header__item {
    margin-right: 0;
    margin-bottom: var(--item__margin-bottom);
  }
  .header__item > a {
    font-size: var(--item__font-size);
    font-weight: 700;
    color: #333333;
  }
}
.order {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--order__bottom);
  width: var(--swiper__width);
  height: var(--swiper__height);
}
.order__content {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: var(--content__padding);
  pointer-events: none;
}
.order__title {
  margin-bottom: var(--title__bottom);
  margin-top: 0;
  display: block;
  width: var(--title__width);
  height: var(--title__height);
  color: white;
  font-size: var(--h1__size);
  line-height: 1.214em;
  text-wrap: nowrap;
  font-weight: 900;
}
.order__text {
  width: var(--text__width);
  margin: 0;
  color: white;
  font-size: var(--text__font);
  font-weight: 700;
  line-height: 1.2;
}
.order__btn {
  position: relative;
  z-index: 12;
  margin-top: auto;
  padding: var(--btn__padding);
  background-color: var(--UI-color);
  border-radius: var(--border-radius-btn);
  font-size: var(--btn__font);
  font-weight: 700;
  color: white;
  align-self: flex-start;
  pointer-events: all;
}
.order__btn:hover, .order__btn:focus {
  background-color: var(--btn-color-focus);
}
.order__btn:active {
  background-color: var(--UI-color-active);
}
.order .swiper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
}
.order .swiper-slide {
  border-radius: var(--border-radius);
  overflow: hidden;
}
.order .swiper-slide--container {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.order .swiper-slide--left img {
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
}
.order__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 85% 50%;
     object-position: 85% 50%;
  border-radius: var(--border-radius);
}
.order .swiper-pagination-bullet {
  background-color: var(--main-color);
  width: var(--bullet-size);
  height: var(--bullet-size);
  --swiper-pagination-bullet-horizontal-gap: 10px;
}

@media (max-width: 767px) {
  .order__title, .order__text, .order__btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.about {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--about_bottom);
}
.about__title {
  font-size: var(--title__font);
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}
.about__text {
  display: block;
  width: var(--text__width);
  font-size: var(--text__minfont);
  line-height: 2em;
  margin-bottom: var(--text__bottom);
}
.about__content {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 1439px) {
  .about__content {
    flex-wrap: wrap;
  }
}
.about__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: var(--border-radius);
}
.about__itemtext {
  width: var(--text__width--content);
  margin-right: auto;
}

@media (max-width: 767px) {
  .about__img {
    width: 100%;
    height: auto;
  }
  .about__btn {
    width: 162px;
    height: 39px;
    text-align: center;
    color: var(--UI-color);
    font-weight: 700;
    font-size: 12px;
    border-radius: var(--border-radius-btn);
    border: 2px solid var(--UI-color);
    background-color: var(--element-background);
    margin-top: 12px;
    margin-bottom: 32px;
  }
  .about__more--text {
    margin: 0;
    font-size: var(--text__minfont);
    line-height: 2em;
  }
  .about__svg1, .about__svg2 {
    width: 64px;
    height: 49px;
    margin-bottom: 12px;
  }
  .about__svg1 {
    background-image: url(../../images/about/cube--mini.svg);
  }
  .about__svg2 {
    margin-top: 32px;
    background-image: url(../../images/about/gear--mini.svg);
  }
  .about__h3 {
    margin: 0;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
  }
  .about__text--content {
    margin: 0;
    font-size: var(--text__minfont);
    line-height: 2em;
  }
}
@media (min-width: 768px) {
  .about__content {
    row-gap: 32px;
  }
  .about__left {
    flex: 0 1 100%;
    position: relative;
    max-width: 868px;
    min-width: 668px;
    height: var(--img__height);
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .about__left {
    max-width: 924px;
  }
}
@media (min-width: 768px) {
  .about__right {
    position: relative;
    flex: 0 1 100%;
    max-width: 870px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .about__right {
    max-width: 924px;
  }
}
@media (min-width: 768px) {
  .about__more {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 196px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius);
  }
  .about__more--text {
    flex: 0 1 auto;
    display: block;
    max-width: 433px;
    margin-right: auto;
    margin-left: var(--resize-margin);
    font-weight: bold;
    color: white;
  }
  .about__btn {
    flex: 0 0 auto;
    align-self: center;
    margin-left: 47px;
    margin-right: var(--resize-margin);
    width: 175px;
    height: 60px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: var(--border-radius-btn);
    border: 3px solid var(--UI-color);
  }
  .about__rightitem {
    position: relative;
    display: flex;
    flex: auto;
    align-items: center;
    max-width: 924px;
    padding: var(--padding-height) 0;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--element-background);
  }
  .about__svg1, .about__svg2 {
    flex: 1;
    max-width: 190px;
    min-width: 114px;
    height: 100%;
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) and (min-width: 1750px) {
  .about__svg1, .about__svg2 {
    margin-left: 60px;
    margin-right: 50px;
  }
}
@media (min-width: 768px) {
  .about__svg1 {
    background-image: url(../../images/about/cuber.svg);
  }
  .about__svg2 {
    background-image: url(../../images/about/gearer.svg);
  }
  .about__itemtext {
    margin-right: 48px;
  }
  .about__h3 {
    margin: 0;
    margin-bottom: 8px;
    text-wrap: nowrap;
    font-size: 24px;
    font-weight: 700;
  }
  .about__text--content {
    margin: 0;
    font-size: var(--text__minfont);
    line-height: 2em;
  }
}
.details {
  margin-bottom: var(--details__bottom);
}
.details__title {
  font-size: var(--title__font);
  font-weight: 400;
  margin: 0;
  margin-bottom: var(--title__bottom);
}
.details__list {
  display: flex;
  margin-bottom: var(--items__bottom);
}
.details__item--active {
  color: var(--UI-color-active);
}
.details__item:not(:last-child) {
  margin-right: var(--items__margin);
}
.details__item > button {
  font-size: var(--items__font);
  white-space: nowrap;
}
.details__item--active > button {
  color: var(--UI-color-active);
}
.details__content {
  display: flex;
  justify-content: space-between;
}
.details__left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--left__width);
}
.details__right {
  position: relative;
  width: var(--right__width);
}
.details__mintitle {
  margin: 0;
  margin-bottom: 8px;
  text-wrap: nowrap;
  font-size: 24px;
  font-weight: 700;
}
.details__text {
  margin: 0;
  font-size: var(--font-size);
  line-height: 2em;
}
.details__btn1 {
  padding: var(--btn__padding1);
  margin-right: var(--btn__gap);
  border-radius: var(--border-radius-btn);
  color: white;
  background-color: var(--UI-color);
}
.details__btn2 {
  padding: var(--btn__padding2);
  border: 1px solid black;
  border-radius: var(--border-radius-btn);
}
.details__leftchange {
  margin-bottom: var(--p__margin);
}
.details__rightchange {
  position: relative;
  height: 100%;
}
.details__rightchange > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}

@media (min-width: 1024px) {
  .details__content {
    height: var(--content__height);
  }
}
@media (max-width: 1023px) {
  .details__mintitle {
    margin-top: var(--title3__margin);
  }
  .details__content {
    flex-direction: column;
  }
  .details__left {
    width: 100%;
    order: 1;
  }
  .details__right {
    width: 100%;
    order: 0;
  }
}
.questions {
  margin-bottom: var(--questions__bottom);
}
.questions__title {
  font-size: var(--title__font);
  margin-bottom: var(--title__margin);
}
.questions__item {
  padding: var(--h3__padding);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.questions__mintitlecontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions__mintitle {
  margin: 0;
  margin-right: var(--mintitle__margin);
  font-size: var(--mintitle__font);
  font-weight: 800;
}
.questions__svg {
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--svg__size);
  height: var(--svg__size);
}
.questions__circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--border-color);
}
.questions__square {
  position: relative;
  width: 70.7108562378%;
}
.questions__square::before {
  width: 100%;
  content: " ";
  position: absolute;
  height: 1px;
  background-color: black;
}
.questions__square::after {
  width: 100%;
  content: " ";
  position: absolute;
  height: 1px;
  background-color: black;
  transform: rotate(90deg);
}
.questions__textcontainer {
  margin: var(--p__margin);
}
.questions__text {
  margin: 30px 0 0 0;
}

@media (max-width: 767px) {
  .questions__mintitle {
    font-weight: 500;
  }
}
.main {
  margin: 0 var(--global-indentation);
}

.disable {
  display: none;
}

h2 {
  font-weight: 400;
}/*# sourceMappingURL=index.css.map */