.Viewer {
  width: clamp(50vw, 1024px, 75vw);

  height: 400px;
  margin: 20px auto;

  display: flex;
  justify-content: center;
  align-items: center;

  --z-index: 100;
  /* --main-color: #ffa500;
  --second-color: #147053; */
}

.RangeSlider {
  position: fixed;
  right: 1%;
  top: 0;

  z-index: calc(var(--z-index) * 10 + 2);
}
