.container {
  flex: auto;
  height: 100%;
  outline: 1px solid gray;

  overflow: hidden;
}

.outer {
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: stretch;
}

.inner {
  flex: auto;
  display: flex;
  justify-content: center;
}
