.order {
  &__img {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
  }
  .swiper {
    width: 100%;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  .swiper-pagination-bullet {
    background-color: var(--main-color);
    width: 15px;
    height: 15px;
  }
}

.about {
  &__title {
  }

  &__text {
    display: block;
    max-width: 1235px;
  }

  &__content {
    position: relative;
    @include flexible();
    align-items: center;
    @media (min-width: 1920px) {
      flex-direction: column;
    }
  }

  &__left {
    position: relative;
    flex: 0 0 auto;
  }

  &__img {
    border-radius: $border-radius;
    @include poly-fluid-sizing(
      'height',
      (
        1920px: 622px,
        1024px: 640px,
        768px: 650px,
        320px: 200px,
      )
    );
  }

  &__more {
    position: absolute;
    bottom: 0;
    @include flexible();
    justify-content: space-between;
    height: 196px;
    @include poly-fluid-sizing(
      'padding',
      (
        1024px: 0 50px,
        768px: 0 40px,
      )
    );

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: $border-radius;
  }

  &__more-text {
    display: block;
    width: 433px;
    margin: 0;

    font-weight: 700;
    color: white;
  }

  &__btn {
    align-self: center;
  }

  &__right {
  }

  &__rightitem {
  }

  &__svg {
  }

  &__itemtext {
  }

  &__h3 {
  }
}
.details {
}
.questions {
}
.footer {
  &__left {
  }

  &__logo {
  }

  &__svg1 {
  }

  &__svg2 {
  }

  &__nav {
  }

  &__list {
  }

  &__item {
  }

  &__social {
  }

  &__center {
  }

  &__title {
  }

  &__input {
  }

  &__btn {
  }

  &__right {
  }

  &__text {
  }
}
