// Global Scss Variables //
@mixin selectDisable() {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@mixin objectSVG() {
  position: relative;
  > object {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
  }
}

:root {
  --main-color: tan;
  --text-color: black;
  --element-background: white;
  --UI-color: #ff9900;
  --UI-color-active: #e1670e;
  --btn-color-focus: #ffb84d;

  // --global-indentation: 0;
  @include poly-fluid-sizing(
    '--global-indentation',
    (
      320px: 15px,
      768px: 50px,
      1024px: 50px,
      1920px: 75px,
      10000px: 360px,
    )
  );
  @include poly-fluid-sizing(
    '--border-radius',
    (
      320px: 16px,
      768px: 24px,
      1024px: 32px,
    )
  );
}

.header {
  @include poly-fluid-sizing(
    '--header__margin-bottom',
    (
      320px: 30px,
      768px: 40px,
      1024px: 40px,
      1920px: 50px,
    )
  );
  @include poly-fluid-sizing(
    '--header__height',
    (
      320px: 69px,
      768px: 69px,
      1024px: 100px,
      1920px: 100px,
    )
  );
  @include poly-fluid-sizing(
    '--burger__padding',
    (
      320px: 78px auto auto 15px,
      768px: 152px auto auto 50px,
      1024px: 170px auto auto 50px,
    )
  );
  @include poly-fluid-sizing(
    '--logo__width',
    (
      320px: 110px,
      768px: 150px,
      1024px: 150px,
      1920px: 225px,
    )
  );
  @include poly-fluid-sizing(
    '--logo__height',
    (
      320px: 35px,
      768px: 48px,
      1024px: 48px,
      1920px: 72px,
    )
  );
  @include poly-fluid-sizing(
    '--close__left',
    (
      320px: 15px,
      768px: 48px,
    )
  );
  @include poly-fluid-sizing(
    '--close__top',
    (
      320px: 22px,
      768px: 22px,
      1024px: 38px,
    )
  );
  @include poly-fluid-sizing(
    '--nav__width',
    (
      320px: 320px,
      768px: 420px,
      1024px: 420px,
    )
  );
  @include poly-fluid-sizing(
    '--nav__margin-left',
    (
      1025px: 100px,
      1920px: 553px,
    )
  );
  @include poly-fluid-sizing(
    '--item__margin-bottom',
    (
      320px: 32px,
      768px: 60px,
      1024px: 60px,
    )
  );
  @include poly-fluid-sizing(
    '--item__font-size',
    (
      320px: 16px,
      768px: 24px,
    )
  );
  @include poly-fluid-sizing(
    '--bar__width',
    (
      320px: 320px,
      768px: 539px,
    )
  );
  @include poly-fluid-sizing(
    '--bar__height',
    (
      320px: 69px,
      768px: 60px,
    )
  );
  @include poly-fluid-sizing(
    '--input__width',
    (
      320px: 222px,
      768px: 412px,
    )
  );
  @include poly-fluid-sizing(
    '--input__margin',
    (
      320px: auto 1px 21px 15px,
      768px: auto 14px 16px 32px,
    )
  );
  @include poly-fluid-sizing(
    '--return__right',
    (
      320px: 15px,
      768px: 13px,
      1024px: 18px,
    )
  );
}

.order {
  @include poly-fluid-sizing(
    '--content__padding',
    (
      320px: 60px 21px,
      768px: 160px 40px,
      1024px: 160px 77px,
      1920px: 100px 80px,
    )
  );
  @include poly-fluid-sizing(
    '--h1__size',
    (
      320px: 20px,
      768px: 50px,
      1024px: 60px,
      1920px: 70px,
    )
  );

  @include poly-fluid-sizing(
    '--title__bottom',
    (
      320px: 6px,
      768px: 16px,
      1024px: 16px,
      1920px: 24px,
    )
  );

  @include poly-fluid-sizing(
    '--title__width',
    (
      320px: 247px,
      768px: 588px,
      1024px: 770px,
      1920px: 837px,
    )
  );

  @include poly-fluid-sizing(
    '--title__height',
    (
      320px: 49px,
      768px: 122px,
      1024px: 146px,
      1920px: 170px,
    )
  );

  @include poly-fluid-sizing(
    '--text__width',
    (
      320px: 247px,
      768px: 588px,
      1024px: 660px,
      1920px: 790px,
    )
  );

  @include poly-fluid-sizing(
    '--text__font',
    (
      320px: 12px,
      768px: 18px,
      1024px: 20px,
      1920px: 24px,
    )
  );

  @include poly-fluid-sizing(
    '--btn__padding',
    (
      320px: 13px 28px,
      768px: 25px 39px,
    )
  );

  @include poly-fluid-sizing(
    '--border-radius-btn',
    (
      320px: 8px,
      768px: 16px,
    )
  );

  @include poly-fluid-sizing(
    '--btn__font',
    (
      320px: 12px,
      768px: 23px,
    )
  );

  @include poly-fluid-sizing(
    '--swiper__width',
    (
      320px: 290px,
      768px: 668px,
      1024px: 924px,
      1920px: 1770px,
    )
  );
  @include poly-fluid-sizing(
    '--swiper__height',
    (
      320px: 308px,
      768px: 662px,
      1024px: 662px,
      1920px: 620px,
    )
  );
}
