.Leetcode,
.link {
  color: var(--main-color);
}

.link {
  border-bottom: 1px solid currentColor;
  padding-bottom: 5px;
}

.profile {
  margin: var(--first-margin);
}

.linkpopup {
  font-size: 0.6em;
  margin-left: 1em;
  opacity: 0;

  transition: opacity 0.3s;
}

.link:hover + .linkpopup {
  opacity: 1;
  color: var(--main-color);
}

.container {
  position: relative;
  width: clamp(50%, 800px, 100%);

  border-radius: 1em;
  overflow: hidden;

  pointer-events: none;
}

.colors {
  --main-color: tranparent;
  --second-color: tranparent;
}

.fromLeetcode .inner* {
  outline: 10px solid #282828;
  outline-offset: -10px;
}
